<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title th:if="${nproject == null}">Create new project</title>
		<title th:if="${nproject != null}">Edit project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/user/create.css" />
		<script src="https://use.fontawesome.com/1adde8da0e.js"></script>
	</head>
	<body>
		<header>
			<h1 th:if="${nproject == null}">Create new project</h1>
			<h1 th:if="${nproject != null}">Edit project</h1>
			<div th:include="header-buttons" class="header-buttons"></div>
		</header>
		<main>
			<section class="project-form">
				<h2>Project info</h2>
				<form action="" method="post">
					<input type="hidden" name="admin" th:if="${nproject == null}" th:attr="value=${user.username}" />
					<input type="hidden" name="admin" th:if="${nproject != null}" th:attr="value=${nproject.admin}" />
					<input type="hidden" name="id" th:if="${nproject != null}" th:attr="value=${nproject.id}" />
					<div class="field">
						<label for="name">Project name</label>
						<input type="text" name="name" id="name" th:if="${nproject == null}" autofocus="true" required="true" />
						<input type="text" name="name" id="name" th:if="${nproject != null}" th:attr="value=${nproject.name}" autofocus="true" required="true" />
					</div>
					<div class="field">
						<label for="description">Short description of the project</label>
						<textarea name="description" th:if="${nproject == null}" id="description" required="true"></textarea>
						<textarea name="description" th:if="${nproject != null}" th:text="${nproject.description}" id="description" required="true"></textarea>
					</div>
					<div class="field">
						<label for="location">Location</label>
						<input type="text" name="location" th:if="${nproject == null}" id="location" required="true" />
						<input type="text" name="location" th:if="${nproject != null}" th:attr="value=${nproject.location}" id="location" required="true" />
					</div>
					<div class="field">
						<label for="tools">Required tools</label>
						<input type="text" name="tools" th:if="${nproject == null}" id="tools" required="true" />
						<input type="text" name="tools" th:if="${nproject != null}" th:attr="value=${nproject.tools}" id="tools" required="true"/>
					</div>
					<div class="field">
						<label for="est-time">Estimated time</label>
						<input type="text" name="estTime" th:if="${nproject == null}" id="est-time" />
						<input type="text" name="estTime" th:if="${nproject != null}" th:attr="value=${nproject.estTime}" id="est-time" />
					</div>
					<div class="field">
						<label for="workers">Assigned workers</label>
						<ul id="workers" class="worker-list">
							<li th:each="worker : ${aworkers}">
								<img th:src="'https://api.adorable.io/avatars/55/' + ${worker.username} + '.png'" th:alt="${worker.username}" />
								<span class="worker-info">
									<span th:text="${worker.name}" class="worker-name"></span>
									<a th:href="'/users/' + ${worker.username}" class="worker-page" target="_blank">See info</a>
									<input type="hidden" name="workers" th:attr="value=${worker.username}" />
									<input type="hidden" th:attrappend="name=${worker.headWorker} ? headWorkers" class="is-head-worker" th:attr="value=${worker.username}" />
								</span>
								<a href="#" class="add"><i class="fa fa-minus-square-o" aria-hidden="true"></i> Remove worker</a>
								<a href="#" th:if="${worker.headWorker != true}" class="set-head-worker"><i class="fa fa-star-o" aria-hidden="true"></i> Add as head worker</a>
								<a href="#" th:if="${worker.headWorker == true}" class="remove-head-worker"><i class="fa fa-eraser" aria-hidden="true"></i> Remove from head workers</a>
							</li>
							<p th:if="${#lists.isEmpty(aworkers)}" class="empty">There are no assigned workers</p>
						</ul>
					</div>
					<div class="field">
						<input type="submit" th:if="${nproject == null}" value="Post project" />
						<input type="submit" th:if="${nproject != null}" value="Update project" />
					</div>
				</form>
				<div class="error" th:text="${error}"></div>
			</section>
			<section class="available-workers">
				<h2>Available workers</h2>
				<ul id="availWorkers" class="worker-list">
					<li th:each="worker : ${workers}">
						<img th:src="'https://api.adorable.io/avatars/55/' + ${worker.username} + '.png'" th:alt="${worker.username}" />
						<span class="worker-info">
							<span th:text="${worker.name}" class="worker-name"></span>
							<a th:href="'/users/' + ${worker.username}" class="worker-page" target="_blank">See info</a>
							<input type="hidden" name="workers" th:attr="value=${worker.username}" />
							<input type="hidden" class="is-head-worker" th:attr="value=${worker.username}" />
						</span>
						<a href="#" class="add"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add worker</a>
					</li>
					<p th:if="${#lists.isEmpty(workers)}" class="empty">There are no available workers</p>
				</ul>
			</section>
		</main>
		<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/create.js"></script>
	</body>
</html>
