<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title>Verkvitinn</title>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" type="text/css" href="/css/index.css" />
	</head>
	<body>
		<header>
			<h1>Verkvitinn</h1>
		</header>
		<main>
			<div class="form-container">
			</div>
		</main>
		<!--<script type="text/javascript" src="<c:url value="/js/main.js"/>"></script>-->
	</body>
</html>
