<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/user/home.css" />
	</head>
	<body>
		<header>
			<h1>Home</h1>
			<div th:include="header-buttons" class="header-buttons"></div>
		</header>
		<main>
			<section class="menu">
				<ul class="links">
					<li><a th:if="${role == 'admin'}" href="/projects/create">Create new project</a></li>
					<li><a href="#">Settings</a></li>
					<li><a th:href="'/users/' + ${user.username}">My profile</a></li>
				</ul>
			</section>
			<section class="projects">
				<h2 th:if="${role == 'admin'}">Ongoing projects</h2>
				<h2 th:if="${role == 'worker'}">Assigned projects</h2>
				<ul>
					<li th:each="project : ${projects}">
						<span th:text="${project.name}" class="project-name"></span>
						<span class="project-workers">
							<span th:if="${project.workers == null}">No workers</span>
							<span th:if="${project.workers != null}">
								<span th:text="${project.workers.length}"></span><span th:if="${project.workers.length == 1}"> worker</span><span th:if="${project.workers.length > 1}"> workers</span>
							</span>
						</span>
						<a th:href="'/projects/' + ${project.id}" class="project-page">See info</a>
						<span th:if="${project.location != null}" class="project-location">
							<span th:text="${project.location}"></span>
						</span>
					</li>
					<div th:if="${#lists.isEmpty(projects)}" class="empty">
						<div th:switch="${role}">
							<p th:case="'admin'" class="empty">There are no ongoing projects</p>
							<p th:case="'worker'" class="empty">There are no assigned projects</p>
						</div>
					</div>
				</ul>
			</section>
		</main>
		<!--<script type="text/javascript" src="/js/main.js"></script>-->
	</body>
</html>
