<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title>Verkvitinn</title>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css"></link>
		<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
		<link rel="stylesheet" type="text/css" href="/css/index.css"></link>
	</head>
	<body>
		<header>
			<h1>Verkvitinn</h1>
		</header>
		<main>
			<div class="form-container">
				<form	action="" method="post" class="login-form">
					<div class="field">
						<label for="username">Username</label>
						<input type="text" id="username" name="username" autofocus="true"></input>
					</div>
					<div class="field">
						<label for="password">Password</label>
						<input type="password" id="password" name="password"></input>
					</div>
					<div class="field">
						<input type="submit" value="Login"></input>
					</div>
				</form>
				<div class="error" th:text="${error}"></div>
			</div>
		</main>
		<!--<script type="text/javascript" src="<c:url value="/js/main.js"/>"></script>-->
	</body>
</html>
