<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title th:text="${user.name}"></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/user/profile.css" />
	</head>
	<body>
		<header>
			<h1 th:text="${user.name}"></h1>
			<div th:include="header-buttons" class="header-buttons"></div>
		</header>
		<main>
			<section th:inline="text" class="user-info">
				<h2>User info</h2>
				<img th:src="'https://api.adorable.io/avatars/120/' + ${useri.username} + '.png'" th:alt="${useri.username}" />
				<ul>
					<li><span class="item-title">Name:</span> <span th:text="${useri.name}"></span></li>
					<li><span class="item-title">Username:</span> <span th:text="${useri.username}"></span></li>
					<li><span class="item-title">Role:</span> <span th:text="${useri.role}"></span></li>
				</ul>
			</section>
		</main>
	</body>
</html>
