<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<title th:text="${project.name}"></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/user/project.css" />
		<script src="https://use.fontawesome.com/1adde8da0e.js"></script>
	</head>
	<body>
		<header>
			<h1 th:text="${project.name}"></h1>
			<div th:include="header-buttons" class="header-buttons"></div>
		</header>
		<main>
			<section class="project-status">
				<h2>Status</h2>
				<h3 class="status-icon" th:switch="${project.status}">
					<span th:case="'not-started'" class="not-started"><i class="fa fa-bed" aria-hidden="true"></i> Not started</span>
					<span th:case="'in-progress'" class="in-progress"><i class="fa fa-rocket" aria-hidden="true"></i> In progress</span>
					<span th:case="'finished'" class="finished"><i class="fa fa-check" aria-hidden="true"></i> Finished</span>
					<span th:case="*">Project status not set</span>
				</h3>
				<p th:if="${project.startTime != null}">Project started <span th:text="${project.startTime}" class="project-elapsed"></span> (<span th:text="${project.startTime}" class="project-time"></span>)</p>
				<p th:if="${project.finishTime != null}">Finished at <span th:text="${project.finishTime}" class="project-time"></span> in <span th:attr="data-start=${project.startTime},data-finish=${project.finishTime}" class="project-duration"></span> days.</p>
				<a th:href="'/projects/' + ${project.id} + '/start'" th:if="${isHeadWorker == true and project.status == 'not-started'}" class="status-button start-finish-button">Start project</a>
				<a th:href="'/projects/' + ${project.id} + '/finish'" th:if="${isHeadWorker == true and project.status == 'in-progress'}" class="status-button start-finish-button">Finish project</a>
				<p class="empty" th:if="${#lists.isEmpty(milestones) and project.status == 'in-progress'}">There are no milestones yet</p>
				<div th:each="milestone,iterStat : ${milestones}" th:classappend="${iterStat.index > 0}? 'other-milestone' : 'latest-milestone'" class="milestone">
					<span th:if="${iterStat.index == 0}" class="latest-milestone-title">Latest milestone:</span>
					<span th:text="${milestone.title}" class="milestone-title"></span>
					<span th:text="${milestone.timestamp}" class="milestone-time"></span>
				</div>
				<a href="#" class="status-button milestone-link" th:if="${#lists.size(milestones) > 1}">See other milestones</a>
				<a th:if="${project.status == 'in-progress' and isHeadWorker == true}" th:href="'/projects/' + ${project.id} + '/milestone'" class="status-button">Set milestone</a>
			</section>
			<section class="project-info">
				<h2>Project info</h2>
				<ul>
					<li><span class="item-title">Name:</span> <span th:text="${project.name}"></span></li>
					<li><span class="item-title">Description:</span> <span th:text="${project.description}"></span></li>
					<li><span class="item-title">Location:</span> <span th:text="${project.location}"></span></li>
					<li><span class="item-title">Required tools:</span> <span th:text="${project.tools}"></span></li>
					<li><span class="item-title">Estimated time:</span> <span th:text="${project.estTime}"></span></li>
					<li><span class="item-title">Supervisor:</span> <span th:text="${projectAdmin}"></span></li>
					<li>
						<span class="item-title">Assigned workers:</span>
						<ul class="worker-list">
							<li th:each="worker : ${aworkers}">
								<img th:src="'https://api.adorable.io/avatars/55/' + ${worker.username} + '.png'" th:alt="${worker.username}" />
								<span class="worker-info">
									<span th:text="${worker.name}" class="worker-name"></span>
									<a th:href="'/users/' + ${worker.username}" class="worker-page">See info</a>
									<span th:if="${worker.headWorker == true}" class="worker-status"><i class="fa fa-star-o" aria-hidden="true"></i> Head worker</span>
								</span>
							</li>
						</ul>
					</li>
				</ul>
				<ul th:if="${user.role == 'admin'}" class="project-options links">
					<li>
						<a th:if="${project.status != 'finished'}" th:href="'/projects/' + ${project.id} + '/edit'" class="project-options-link">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit project
						</a>
					</li>
					<li>
						<a th:href="'/projects/' + ${project.id} + '/delete'" class="project-options-link" id="delete-link">
							<i class="fa fa-trash-o" aria-hidden="true"></i> Delete project
						</a>
					</li>
				</ul>
			</section>
			<section class="project-messages">
				<h2>Messages</h2>
				<div class="message-form">
					<form action="" method="post">
						<textarea name="content" placeholder="Write your message here..."></textarea>
						<input type="submit" value="Post message" />
					</form>
					<div class="error" th:text="${error}"></div>
				</div>
				<p class="empty" th:if="${#lists.isEmpty(messages)}">There are no messages</p>
				<div th:each="message : ${messages}" class="message worker-message" th:classappend="${message.admin || message.headWorker} ? admin-message">
					<i th:if="${message.admin}" class="fa fa-flag-o flag-admin-icon" aria-hidden="true"></i>
					<a th:if="${message.author == user.username}" th:attr="data-href=${project.id} + '/messages/delete/' + ${message.id}" class="message-delete-link"><i class="fa fa-trash-o delete-message-icon" aria-hidden="true"></i></a>
					<h3 th:text="${message.author}" class="message-author"></h3>
					<p th:text="${message.content}" class="message-content"></p>
					<p th:text="${message.timestamp}" class="message-time"></p>
				</div>
			</section>
		</main>
		<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
		<script type="text/javascript" src="/js/project.js"></script>
	</body>
</html>
