// Project page
@import "user.less";

main {
	section.project-status {
		width: 100%;
		position: relative;

		p, h3 {
			text-align: center;
		}
		h3 {
			span.not-started {
				color: #000000;
			}
			span.in-progress {
				color: #999999;
			}
			span.finished {
				color: #009900;
			}
		}
		a.status-button {
			display: block;
			width: 10em;
			margin: 0 auto 1em auto;
			padding: 0.5em 1em;
			text-align: center;
			background-color: @primaryColor;
			color: #FFFFFF;
		}
		a.start-finish-button {
			background-color: @lighter;
		}
		a.clicked {
			background-color: @secondaryColor;
		}
		div.milestone {
			width: 70%;
			height: auto;
			overflow: auto;
			margin: 0 auto 0.5em auto;
			border-bottom: 1px solid #000000;

			span {
				width: 48%;
				display: block;
			}
			span.milestone-title {
				float: left;
				margin: 0 0 0.2em 1%;
			}
			span.milestone-time {
				float: right;
				text-align: right;
				margin: 0 1% 0.2em 0;
			}
		}
		div.latest-milestone {
			border-bottom: 1px solid #6699FF;

			span.latest-milestone-title {
				margin: 0 auto;
				text-align: center;
			}
		}
		div.other-milestone {
			display: none;
		}
		span.project-time {
			color: rgba(0, 0, 0, 0.5);
		}
	}
	section.project-info {
		h2 {
			margin: 1rem;
		}
		ul {
			li {
				span.item-title {
					font-weight: bold;
				}
			}
		}
		ul.project-options {
			li {
				position: relative;
				overflow: hidden;

				div.delete-dialog {
					width: 20%;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					color: #FFFFFF;
					text-align: center;
					font-size: 0.8em;

					a {
						width: 50%;
						height: 100%;
						position: absolute;
						bottom: 0;
						box-sizing: border-box;
						background-color: @primaryColor;
						color: #FFFFFF;

						span.link-content {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}
					a:hover {
						color: #FFFFFF;
						text-decoration: underline;
						background-color: @lighter;
					}
					a#delete-yes {
						background-color: @secondaryColor;
						left: 0;
					}
					a#delete-yes:hover {
						background-color: @lighter;
					}
					a#delete-cancel {
						right: 0;
					}
				}
			}
		}
	}
	section.project-messages {
		padding: 0 1em 0 1em;
		box-sizing: border-box;

		div.message-form {
			form {
				textarea, input {
					width: 100%;
					box-sizing: border-box;
				}
				textarea {
					height: 4em;
					margin: 0 auto;
					border: 1px solid rgba(0.0, 0.0, 0.0, 0.25);
					padding: 0.5em 0 0 0.5em;
				}
				input:focus, textarea:focus {
					outline: none;
					border: 1px solid #000000;
				}
				input {
					padding: 0.5em 0;
					border: 1px solid rgba(0.0, 0.0, 0.0, 0.25);
					background: none;
				}
			}
		}
		div.message {
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			margin-top: 0.5em;
			padding: 0.5em 0.5em 0.5em 1em;
			position: relative;

			h3 {
				margin-top: 0.5em;
			}
			i {
				position: absolute;
				right: 0.5em;
			}
			i.flag-admin-icon {
				top: 0.5em;
			}
			i.delete-message-icon {
				bottom: 0.5em;
			}
			p.message-time {
				font-size: 0.8em;
			}
			div.message-delete-dialog {
				a {
					color: @primaryColor;
				}
			}
		}
		div.admin-message {
			background-color: #FFFF99;
		}
	}
	section.set-milestone {
		width: 100%;
		text-align: center;

		h3 {
			font-weight: 300;
		}
		form {
			input {
				display: block;
				outline: none;
				border: 1px solid rgba(0.0, 0.0, 0.0, 0.25);
				padding: 0.5em 0 0.5em 0.5em;
				background: none;
				margin: 1em auto;
				width: 50%;
				box-sizing: border-box;
			}
			input:focus {
				border: 1px solid #000000;
			}
		}
	}
}
// Mobile
@media (max-width: 900px) {
	main {
		section.project-status {
			div.milestone {
				width: 100%;
			}
			a.status-button {
				width: 100%;
			}
		}
		section.project-messages {
			padding: 0;

			div.message-form {
				form {
					textarea {
						border-left: none;
						border-right: none;
						display: block;
						margin-bottom: 0.5em;
						height: 6em;
					}
					input {
						border-left: none;
						border-right: none;
						padding: 1em;
					}
				}
			}
		}
		section.set-milestone {
			form {
				input {
					width: 95%;
				}
			}
		}
	}
}
