@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';
@import 'normalize.css';
@import '../normalize.css';
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 20px;
  color: #000000;
}
@media (max-width: 800px) {
  html,
  body {
    font-size: 12px;
  }
}
header {
  width: 100%;
  height: 4em;
  text-align: left;
  background-color: #CC6633;
  color: #FFFFFF;
  position: relative;
}
header h1 {
  position: relative;
  margin: 0;
  padding-left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}
header div.header-buttons {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
header div.header-buttons .header-button {
  width: 5em;
  height: 100%;
  float: left;
  color: inherit;
  position: relative;
}
header div.header-buttons .header-button span.header-button-text {
  position: absolute;
  top: 50%;
  left: 52%;
  display: block;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-decoration: none;
}
header div.header-buttons a.header-button:hover {
  background-color: #CC9966;
}
header div.header-buttons div.header-user {
  width: 7em;
}
header div.header-buttons div.header-user span.header-button-text {
  width: 100%;
  text-align: center;
}
header div.header-buttons div.header-user span.header-button-text img.header-user-image {
  height: 1em;
  display: inline;
}
header div.header-buttons div.header-user span.header-button-text span.header-username {
  display: inline;
  margin-left: 0.2em;
  font-size: 0.8em;
  vertical-align: top;
}
main section {
  width: 50%;
  float: left;
}
main section h2 {
  text-align: center;
  font-weight: 300;
}
main section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
main section ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1em;
}
main section ul.links li {
  padding: 0;
}
main section ul.links li a {
  display: block;
  padding: 1em;
}
main section ul.links li a:hover {
  background-color: antiquewhite;
}
main section ul.links li a:hover i {
  color: #000000;
}
main section ul.worker-list li {
  text-align: left;
  position: relative;
}
main section ul.worker-list li img {
  vertical-align: top;
  margin-right: 0.5em;
}
main section ul.worker-list li span.worker-info {
  display: inline-block;
}
main section ul.worker-list li span.worker-info span.worker-name {
  display: block;
  vertical-align: middle;
}
main section ul.worker-list li span.worker-info a.worker-page {
  text-decoration: underline;
}
main section ul.worker-list li a.worker-page {
  display: inline-block;
  text-decoration: underline;
}
main section ul.worker-list li a.add {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
main section a {
  color: inherit;
  text-decoration: none;
}
main section a:hover {
  color: #CC6633;
}
main section p.empty {
  text-align: center;
}
@media (max-width: 800px) {
  header {
    height: auto;
    overflow: auto;
    position: static;
  }
  header h1 {
    display: block;
    width: 100%;
    transform: none;
    top: 0.5em;
    text-align: center;
    padding: 0;
    margin-bottom: 1em;
  }
  header div.header-buttons {
    position: static;
  }
  header div.header-buttons .header-button {
    width: 50%;
    height: 2em;
    padding: 0.5em 0;
    transform: none;
    text-align: center;
  }
  header div.header-buttons .header-button span.header-button-text {
    transform: none;
    position: static;
  }
  header div.header-buttons a.header-button {
    text-decoration: none;
  }
  header div.header-buttons div.header-user {
    width: 100%;
  }
  main section {
    width: 100%;
  }
}
main section.project-status {
  width: 100%;
  position: relative;
}
main section.project-status p,
main section.project-status h3 {
  text-align: center;
}
main section.project-status h3 span.not-started {
  color: #000000;
}
main section.project-status h3 span.in-progress {
  color: #999999;
}
main section.project-status h3 span.finished {
  color: #009900;
}
main section.project-status a.status-button {
  display: block;
  width: 10em;
  margin: 0 auto 1em auto;
  padding: 0.5em 1em;
  text-align: center;
  background-color: #CC6633;
  color: #FFFFFF;
}
main section.project-status a.start-finish-button {
  background-color: #CC9966;
}
main section.project-status a.clicked {
  background-color: #996633;
}
main section.project-status div.milestone {
  width: 70%;
  height: auto;
  overflow: auto;
  margin: 0 auto 0.5em auto;
  border-bottom: 1px solid #000000;
}
main section.project-status div.milestone span {
  width: 48%;
  display: block;
}
main section.project-status div.milestone span.milestone-title {
  float: left;
  margin: 0 0 0.2em 1%;
}
main section.project-status div.milestone span.milestone-time {
  float: right;
  text-align: right;
  margin: 0 1% 0.2em 0;
}
main section.project-status div.latest-milestone {
  border-bottom: 1px solid #6699FF;
}
main section.project-status div.latest-milestone span.latest-milestone-title {
  margin: 0 auto;
  text-align: center;
}
main section.project-status div.other-milestone {
  display: none;
}
main section.project-status span.project-time {
  color: rgba(0, 0, 0, 0.5);
}
main section.project-info h2 {
  margin: 1rem;
}
main section.project-info ul li span.item-title {
  font-weight: bold;
}
main section.project-info ul.project-options li {
  position: relative;
  overflow: hidden;
}
main section.project-info ul.project-options li div.delete-dialog {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.8em;
}
main section.project-info ul.project-options li div.delete-dialog a {
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background-color: #CC6633;
  color: #FFFFFF;
}
main section.project-info ul.project-options li div.delete-dialog a span.link-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.project-info ul.project-options li div.delete-dialog a:hover {
  color: #FFFFFF;
  text-decoration: underline;
  background-color: #CC9966;
}
main section.project-info ul.project-options li div.delete-dialog a#delete-yes {
  background-color: #996633;
  left: 0;
}
main section.project-info ul.project-options li div.delete-dialog a#delete-yes:hover {
  background-color: #CC9966;
}
main section.project-info ul.project-options li div.delete-dialog a#delete-cancel {
  right: 0;
}
main section.project-messages {
  padding: 0 1em 0 1em;
  box-sizing: border-box;
}
main section.project-messages div.message-form form textarea,
main section.project-messages div.message-form form input {
  width: 100%;
  box-sizing: border-box;
}
main section.project-messages div.message-form form textarea {
  height: 4em;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0.5em 0 0 0.5em;
}
main section.project-messages div.message-form form input:focus,
main section.project-messages div.message-form form textarea:focus {
  outline: none;
  border: 1px solid #000000;
}
main section.project-messages div.message-form form input {
  padding: 0.5em 0;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: none;
}
main section.project-messages div.message {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 0.5em;
  padding: 0.5em 0.5em 0.5em 1em;
  position: relative;
}
main section.project-messages div.message h3 {
  margin-top: 0.5em;
}
main section.project-messages div.message i {
  position: absolute;
  right: 0.5em;
}
main section.project-messages div.message i.flag-admin-icon {
  top: 0.5em;
}
main section.project-messages div.message i.delete-message-icon {
  bottom: 0.5em;
}
main section.project-messages div.message p.message-time {
  font-size: 0.8em;
}
main section.project-messages div.message div.message-delete-dialog a {
  color: #CC6633;
}
main section.project-messages div.admin-message {
  background-color: #FFFF99;
}
main section.set-milestone {
  width: 100%;
  text-align: center;
}
main section.set-milestone h3 {
  font-weight: 300;
}
main section.set-milestone form input {
  display: block;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0.5em 0 0.5em 0.5em;
  background: none;
  margin: 1em auto;
  width: 50%;
  box-sizing: border-box;
}
main section.set-milestone form input:focus {
  border: 1px solid #000000;
}
@media (max-width: 900px) {
  main section.project-status div.milestone {
    width: 100%;
  }
  main section.project-status a.status-button {
    width: 100%;
  }
  main section.project-messages {
    padding: 0;
  }
  main section.project-messages div.message-form form textarea {
    border-left: none;
    border-right: none;
    display: block;
    margin-bottom: 0.5em;
    height: 6em;
  }
  main section.project-messages div.message-form form input {
    border-left: none;
    border-right: none;
    padding: 1em;
  }
  main section.set-milestone form input {
    width: 95%;
  }
}
