@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';
@import 'normalize.css';
@import '../normalize.css';
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 20px;
  color: #000000;
}
@media (max-width: 800px) {
  html,
  body {
    font-size: 15px;
  }
}
header {
  width: 100%;
  height: 4em;
  text-align: left;
  background-color: #CC6633;
  color: #FFFFFF;
  position: relative;
}
header h1 {
  position: relative;
  margin: 0;
  padding-left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}
header div.header-buttons {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
header div.header-buttons a.header-button {
  width: 5em;
  height: 100%;
  float: left;
  color: inherit;
  position: relative;
}
header div.header-buttons a.header-button span.header-button-text {
  position: absolute;
  top: 50%;
  left: 52%;
  display: block;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-decoration: none;
}
header div.header-buttons a.header-button:hover {
  background-color: #CC9966;
}
header img {
  position: absolute;
  height: 3em;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5em;
}
main section {
  width: 50%;
  float: left;
}
main section h2 {
  text-align: center;
  font-weight: 300;
}
main section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
main section ul li {
  border-bottom: 1px dashed #000000;
  padding: 1em;
}
main section ul.links li {
  padding: 0;
}
main section ul.links li a {
  display: block;
  padding: 1em;
}
main section ul.links li a:hover {
  background-color: antiquewhite;
}
main section ul.links li a:hover i {
  color: #000000;
}
main section ul.worker-list li {
  text-align: left;
  position: relative;
}
main section ul.worker-list li img {
  vertical-align: top;
  margin-right: 0.5em;
}
main section ul.worker-list li span.worker-info {
  display: inline-block;
}
main section ul.worker-list li span.worker-info span.worker-name {
  display: block;
  vertical-align: middle;
}
main section ul.worker-list li span.worker-info a.worker-page {
  text-decoration: underline;
}
main section ul.worker-list li a.worker-page {
  display: inline-block;
  text-decoration: underline;
}
main section ul.worker-list li a.add {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
main section a {
  color: inherit;
  text-decoration: none;
}
main section a:hover {
  color: #CC6633;
}
main section p.empty {
  text-align: center;
}
@media (max-width: 800px) {
  main section {
    width: 100%;
  }
}
main section.project-info h2 {
  text-align: left;
  margin: 1rem;
}
main section.project-info ul li span.item-title {
  font-weight: bold;
}
main section.project-info ul.project-options li {
  position: relative;
  overflow: hidden;
}
main section.project-info ul.project-options li div.delete-dialog {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.8em;
}
main section.project-info ul.project-options li div.delete-dialog a {
  width: 50%;
  height: 100%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  background-color: #CC6633;
  color: #FFFFFF;
}
main section.project-info ul.project-options li div.delete-dialog a span.link-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.project-info ul.project-options li div.delete-dialog a:hover {
  color: #FFFFFF;
  text-decoration: underline;
  background-color: #CC9966;
}
main section.project-info ul.project-options li div.delete-dialog a#delete-yes {
  background-color: #996633;
  left: 0;
}
main section.project-info ul.project-options li div.delete-dialog a#delete-yes:hover {
  background-color: #CC9966;
}
main section.project-info ul.project-options li div.delete-dialog a#delete-cancel {
  right: 0;
}
